<div class="container">
    <div class="div row">
        <div class="col-md-12">
            <br />
            <h2 class="text-center">About Us</h2>
            <hr>
            <p class="breakbtm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat maxime architecto esse est molestias nostrum non, explicabo unde odio delectus impedit soluta commodi alias accusantium tempore, tempora ratione minus dignissimos. Doloremque
                itaque eligendi vitae reprehenderit dolores esse iusto nihil quidem cupiditate asperiores reiciendis ullam distinctio provident tempore corporis expedita suscipit debitis, sint officia. Saepe, sunt? Aliquam quod dolore quisquam quibusdam?
                A dicta quibusdam animi harum quos voluptates! Nisi quaerat hic ipsum, aliquam eligendi architecto blanditiis assumenda voluptas iusto debitis pariatur, mollitia iure nihil consectetur, maxime nulla accusamus quae repudiandae? Laudantium?</p>
        </div>
    </div>
</div>
<div id="aboutquote" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <blockquote>" Expertise in business development focused on clients needs and customer experiences "</blockquote>
        </div>
    </div>
</div>
<br />
<div class="container">
    <div class="div row">
        <div class="col-md-12">
            <br />
            <h2 class="text-center">Software Development</h2>
            <hr>
            <p class="breakbtm-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat maxime architecto esse est molestias nostrum non, explicabo unde odio delectus impedit soluta commodi alias accusantium tempore, tempora ratione minus dignissimos. Doloremque
                itaque eligendi vitae reprehenderit dolores esse iusto nihil quidem cupiditate asperiores reiciendis ullam distinctio provident tempore corporis expedita suscipit debitis, sint officia. Saepe, sunt? Aliquam quod dolore quisquam quibusdam?
                A dicta quibusdam animi harum quos voluptates! Nisi quaerat hic ipsum, aliquam eligendi architecto blanditiis assumenda voluptas iusto debitis pariatur, mollitia iure nihil consectetur, maxime nulla accusamus quae repudiandae? Laudantium?</p>
            <p class="breakbtm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat maxime architecto esse est molestias nostrum non, explicabo unde odio delectus impedit soluta commodi alias accusantium tempore, tempora ratione minus dignissimos. Doloremque
                itaque eligendi vitae reprehenderit dolores esse iusto nihil quidem cupiditate asperiores reiciendis ullam distinctio provident tempore corporis expedita suscipit debitis, sint officia. Saepe, sunt? Aliquam quod dolore quisquam quibusdam?
                A dicta quibusdam animi harum quos voluptates! Nisi quaerat hic ipsum, aliquam eligendi architecto blanditiis assumenda voluptas iusto debitis pariatur, mollitia iure nihil consectetur, maxime nulla accusamus quae repudiandae? Laudantium?</p>

        </div>
    </div>
</div>