<div class="container">
    <br />
    <h2 class="text-center">Our Services</h2>
    <hr>
    <p class="breakbtm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat maxime architecto esse est molestias nostrum non, explicabo unde odio delectus impedit soluta commodi alias accusantium tempore, tempora ratione minus dignissimos. Doloremque itaque
        eligendi vitae reprehenderit dolores esse iusto nihil quidem cupiditate asperiores reiciendis ullam distinctio provident tempore corporis expedita suscipit debitis, sint officia. Saepe, sunt? Aliquam quod dolore quisquam quibusdam? A dicta quibusdam
        animi harum quos voluptates! Nisi quaerat hic ipsum, aliquam eligendi architecto blanditiis assumenda voluptas iusto debitis pariatur, mollitia iure nihil consectetur, maxime nulla accusamus quae repudiandae? Laudantium?</p>

    <h2 class="text-center">Our Team</h2>
    <hr>
    <div class="row breakbtm">
        <div class="col-md-4 col-sm-4 breakbtm-sm">
            <!--Card-->
            <mdb-card cascade="true">

                <!--Card image-->
                <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                    <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/men.jpg"></mdb-card-img>
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--/Card image-->

                <mdb-card-body cascade="true" class="text-center">
                    <!--Card content-->
                    <h4 class="card-title">
                        <strong>Billy Cullen</strong>
                    </h4>
                    <h5>Web developer</h5>

                    <mdb-card-text>
                        Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                    </mdb-card-text>

                    <!--Linkedin-->
                    <a class="px-2 icons-sm li-ic">
                        <i class="fa fa-linkedin"> </i>
                    </a>
                    <!--Twitter-->
                    <a class="px-2 icons-sm tw-ic">
                        <i class="fa fa-twitter"> </i>
                    </a>
                    <!--Dribbble-->
                    <a class="px-2 icons-sm fb-ic">
                        <i class="fa fa-facebook"> </i>
                    </a>

                </mdb-card-body>
                <!--/.Card content-->

            </mdb-card>
            <!--/.Card-->
        </div>

        <div class="col-md-4 col-sm-4 breakbtm-sm">
            <!--Card-->
            <mdb-card cascade="true">

                <!--Card image-->
                <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                    <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20%283%29.jpg"></mdb-card-img>
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--/Card image-->

                <mdb-card-body cascade="true" class="text-center">
                    <!--Card content-->
                    <h4 class="card-title">
                        <strong>Alice Mayer</strong>
                    </h4>
                    <h5>Photographer</h5>

                    <mdb-card-text>
                        Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                    </mdb-card-text>

                    <!--Linkedin-->
                    <a class="px-2 icons-sm li-ic">
                        <i class="fa fa-linkedin"> </i>
                    </a>
                    <!--Twitter-->
                    <a class="px-2 icons-sm tw-ic">
                        <i class="fa fa-twitter"> </i>
                    </a>
                    <!--Dribbble-->
                    <a class="px-2 icons-sm fb-ic">
                        <i class="fa fa-facebook"> </i>
                    </a>

                </mdb-card-body>
                <!--/.Card content-->

            </mdb-card>
            <!--/.Card-->
        </div>

        <div class="col-md-4 col-sm-4 breakbtm-sm">
            <!--Card-->
            <mdb-card cascade="true">

                <!--Card image-->
                <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                    <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/men.jpg"></mdb-card-img>
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--/Card image-->

                <mdb-card-body cascade="true" class="text-center">
                    <!--Card content-->
                    <h4 class="card-title">
                        <strong>Mark Armstrong</strong>
                    </h4>
                    <h5>Graphic designer</h5>

                    <mdb-card-text>
                        Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                    </mdb-card-text>

                    <!--Linkedin-->
                    <a class="px-2 icons-sm li-ic">
                        <i class="fa fa-linkedin"> </i>
                    </a>
                    <!--Twitter-->
                    <a class="px-2 icons-sm tw-ic">
                        <i class="fa fa-twitter"> </i>
                    </a>
                    <!--Dribbble-->
                    <a class="px-2 icons-sm fb-ic">
                        <i class="fa fa-facebook"> </i>
                    </a>

                </mdb-card-body>
                <!--/.Card content-->

            </mdb-card>
            <!--/.Card-->
        </div>
        <!-- ./row -->

    </div>
    <!-- End Cards section -->

    <hr>

    <div class="row breakbtm">
        <div class="col-md-4 col-sm-4 breakbtm-sm">
            <!--Card-->
            <mdb-card cascade="true">

                <!--Card image-->
                <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                    <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/men.jpg"></mdb-card-img>
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--/Card image-->

                <mdb-card-body cascade="true" class="text-center">
                    <!--Card content-->
                    <h4 class="card-title">
                        <strong>Fredric Murphy</strong>
                    </h4>
                    <h5>Project Manager</h5>

                    <mdb-card-text>
                        Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                    </mdb-card-text>

                    <!--Linkedin-->
                    <a class="px-2 icons-sm li-ic">
                        <i class="fa fa-linkedin"> </i>
                    </a>
                    <!--Twitter-->
                    <a class="px-2 icons-sm tw-ic">
                        <i class="fa fa-twitter"> </i>
                    </a>
                    <!--Dribbble-->
                    <a class="px-2 icons-sm fb-ic">
                        <i class="fa fa-facebook"> </i>
                    </a>

                </mdb-card-body>
                <!--/.Card content-->

            </mdb-card>
            <!--/.Card-->
        </div>

        <div class="col-md-4 col-sm-4 breakbtm-sm">
            <!--Card-->
            <mdb-card cascade="true">

                <!--Card image-->
                <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                    <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20%283%29.jpg"></mdb-card-img>
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--/Card image-->

                <mdb-card-body cascade="true" class="text-center">
                    <!--Card content-->
                    <h4 class="card-title">
                        <strong>Claire Wallace</strong>
                    </h4>
                    <h5>Accounts / Customer Support</h5>

                    <mdb-card-text>
                        Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                    </mdb-card-text>

                    <!--Linkedin-->
                    <a class="px-2 icons-sm li-ic">
                        <i class="fa fa-linkedin"> </i>
                    </a>
                    <!--Twitter-->
                    <a class="px-2 icons-sm tw-ic">
                        <i class="fa fa-twitter"> </i>
                    </a>
                    <!--Dribbble-->
                    <a class="px-2 icons-sm fb-ic">
                        <i class="fa fa-facebook"> </i>
                    </a>

                </mdb-card-body>
                <!--/.Card content-->

            </mdb-card>
            <!--/.Card-->
        </div>

        <div class="col-md-4 col-sm-4 breakbtm-sm">
            <!--Card-->
            <mdb-card cascade="true">

                <!--Card image-->
                <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                    <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/men.jpg"></mdb-card-img>
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--/Card image-->

                <mdb-card-body cascade="true" class="text-center">
                    <!--Card content-->
                    <h4 class="card-title">
                        <strong>Kevin Warren</strong>
                    </h4>
                    <h5>Software developer</h5>

                    <mdb-card-text>
                        Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                    </mdb-card-text>

                    <!--Linkedin-->
                    <a class="px-2 icons-sm li-ic">
                        <i class="fa fa-linkedin"> </i>
                    </a>
                    <!--Twitter-->
                    <a class="px-2 icons-sm tw-ic">
                        <i class="fa fa-twitter"> </i>
                    </a>
                    <!--Dribbble-->
                    <a class="px-2 icons-sm fb-ic">
                        <i class="fa fa-facebook"> </i>
                    </a>

                </mdb-card-body>
                <!--/.Card content-->

            </mdb-card>
            <!--/.Card-->
        </div>
        <!-- ./row -->

    </div>
    <!-- End Cards section -->

</div>
<!-- ./container -->